<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDqaG1SrUIeHo0iq1H4rsD6G0uioW00sik</string>
	<key>GCM_SENDER_ID</key>
	<string>393141917311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snctek.app</string>
	<key>PROJECT_ID</key>
	<string>rlms-test-aa138</string>
	<key>STORAGE_BUCKET</key>
	<string>rlms-test-aa138.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:393141917311:ios:2df1f0ec3af62a65bb114a</string>
</dict>
</plist>